<h3>
    Invoices
</h3>
<hr>
<button class="btn btn-default btn-sm pull-right" ng-click="fn.newInvoice()">Add Invoice</button>
<div class="table-responsive">
    <table class="table">
        <thead>
            <th>Invoice ID</th>
            <th>Customer Name</th>
            <th>Disount</th>
            <th>Total</th>
        </thead>
        <tbody>
            <tr ng-repeat="i in var.invoices">
                <td>{{i.id}}</td>
                <td>{{i.customer_name}}</td>
                <td>{{i.discount}}%</td>
                <td>{{i.total}}</td>
                <td>
                    <button class="btn btn-default btn-xs" ng-click="fn.editInvoice(i.id)">
                        Edit
                    </button>
                    <button class="btn btn-default btn-xs" ng-click="fn.deleteInvoice(i)">
                        Delete
                    </button>
                </td>
            </tr>
            <tr ng-if="var.invoices.length<=0">
                <td colspan="100%" style="text-align:center;">
                    No invoice added
                </td>
            </tr>
            <tr ng-if="var.invoices==undefined">
                <td colspan="100%" style="text-align:center;">
                    Loading..
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="new-invoice">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Invoice</h4>
            </div>
            <div class="modal-body">
                <form onsubmit="return false;" ng-submit="fn.addInvoice()">
                    <div class="form-group">
                        <label>Customer</label>
                        <select class="form-control" ng-model="var.invoice.customer_name" ng-change="fn.updateCustomer()">
                            <option value="0" disabled>Select Customer</option>
                            <option ng-repeat="c in var.customers" value="{{c.id}}">{{c.name}}</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label>Product</label>
                        <select class="form-control" ng-model="var.invoice.product">
                            <option value="-1">Select Product</option>
                            <option  ng-repeat="p in var.products" value="{{$index}}">{{p.name}}</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-default btn-sm" ng-click="fn.addProductToList()" style="margin:10px 0;">Add Product</button>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <th style="width:40%">Product</th>
                                <th style="width:20%;">Quantity</th>
                                <th style="width:20%;">Rate</th>
                                <th style="width:20%;">Total</th>
                                <th style="width:10%;">
                                </th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="p in var.invoice.products">
                                    <td >{{p.name}}</td>
                                    <td class="form-group">
                                        <input class="form-control" style="text-align:center;" ng-model="p.quantity" ng-blur="fn.updateQuantity(p)">
                                    </td>
                                    <td>
                                        {{p.price}}
                                    </td>
                                    <td>
                                        {{fn.getEachTotal(p)}}
                                    </td>
                                    <td>
                                        <button class="btn btn-default btn-sm" ng-click="fn.deleteItem($index)">Delete</button>
                                    </td>
                                </tr>
                                <tr ng-if="var.invoice.products.length<=0">
                                    <td colspan="100%" style="text-align:center;">
                                        No Product added
                                    </td>
                                </tr>
                                <tr ng-if="var.invoice.products.length>0">
                                    <td>
                                        Discount (%)
                                    </td>
                                    <td class="form-group">
                                        <input class="form-control" style="text-align:center;" ng-model="var.invoice.discount">
                                    </td>
                                    <td></td>
                                    <td >
                                        {{fn.getTotalDiscount()}}
                                    </td>
                                </tr>
                                <tr ng-if="var.invoice.products.length>0">
                                    <td colspan="3">
                                        Total
                                    </td>
                                    
                                    <td >
                                        {{fn.getAllTotal()}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
